﻿@{
    ViewData["Title"] = "Tax Calculator";

}

@model calculatetax.Models.TaxCalculatedViewModel;

 
<div class="purchase-modal container-fluid">
    <h1>Tax Calculator</h1>
    @using (Html.BeginForm("TaxPage", "Home"))
    {
        <fieldset>
            <legend>From</legend>
            <div>
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="from_state" class="">State:</label>
                        <select name="from_state" class="form-control">
                            <option value="CA">CA</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="from_city">City:</label>
                        <select name="from_city" class="form-control col-md">
                            <option value="La Jolla">La Jolla</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="from_street">Address:</label>
                        <input type="text" name="from_street" class="form-control col-md" value="9500 Gilman Drive" />
                    </div>
                    <div class="col-md-4">
                        <label for="from_zip">Zip:</label>
                        <select name="from_zip" class="form-control col-md">
                            <option value"92093">92093</option>
                        </select>
                    </div>
                </div>               
            </div>           
        </fieldset>
        
        <fieldset>
            <legend>To</legend>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="deststate">State:</label>
                    <select name="to_state" class="form-control">
                        <option value="CA">CA</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="to_city">City:</label>
                    <select name="to_city" class="form-control">
                        <option value="Los Angeles">Los Angeles</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="to_street">Address:</label>
                    <input type="text" name="to_street" class="form-control" value="1335 E 103rd St" />
                </div>
                <div class="col-md-4">
                    <label for="to_zip">Zip:</label>
                    <select name="to_zip" class="form-control">
                        <option value"90023">90002</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Item</legend>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="id">Item ID</label>
                    <input type="text" class="form-control" name="id" value="1" />
                </div>
                <div class="col-md-4">
                    <label for="quantity">Qty</label>
                    <input type="text" class="form-control" name="quantity" value="1" />
                </div>
                <div class="col-md-4">
                    <label for="product_tax_code">Tax Code</label>
                    <input type="text" class="form-control" name="product_tax_code" value="20010" />
                </div>
                <div class="col-md-4">
                    <label for="unit_price">Price</label>
                    <input type="text" class="form-control" name="unit_price" value="15" />
                </div>
                <div class="col-md-4">
                    <label for="discount">Discount</label>
                    <input type="text" class="form-control" name="discount" value="0" />
                </div>
                <div class="col-md-4">
                    <label for="shipping">Shipping</label>
                    <input type="text" class="form-control" name="shipping" value="1.5" />
                </div>
            </div>
        </fieldset>      
        <div class="form-row">
            <div class="col-md">
                <label for="taxcalculator">Select Tax Calculator</label>
                <select name="taxcalculator" class="form-control">
                    <option value="TaxJar">TaxJar</option>
                </select>
            </div>
        </div>
        <div class="form-row mt-5">
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
       
    }
</div>

<div class="container mt-4">
    @if(Model != null)
    {
    <div class="row">
        <div class="col-med-3 text-center mr-2">
            Taxable:  <div>$@Model.tax.taxable_amount</div>
        </div>
        <div class="col-med-3 text-center mr-2">
           Tax Rate: <div>$@Model.tax.rate</div>
        </div>
        <div class="col-med-3 text-center mr-2">
           Tax: <div>$@Model.tax.amount_to_collect</div>
        </div>
        <div class="col-med-3 text-center mr-2">
           Total: <div>$@Model.tax.order_total_amount</div>
        </div>
    </div>
    }
</div>

